@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Readex+Pro:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100&display=swap');


html {
  margin: 0px;
  padding: 0px;
  user-select: none;
}
/* --------------------------------------------------- */

body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-color: rgb(17, 17, 17)
}

#showcase {
  display: none;
  z-index: 3000;
  overflow-y: scroll;
  position: absolute;
  background-color:rgba(25, 25, 25, 0.97);
  height: 100%;
  width: 100%;
}

#showcase-content {
  height: 100%;
}


#showcase-closebutton {
  position: sticky;
  top: 25px;
  transition: 0.3s;
  margin: 25px;
  border-radius: 15px;
  width: fit-content;
  background-color:#595959;
  padding: 15px;
  height: fit-content;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;

}

#showcase-closebutton:hover {
  background-color:#c64747;
  transition: 0.3s;
  transform: scale(1.2);
  cursor: pointer;
}

#version {
  user-select: none;
  position: fixed;
  color: rgb(37, 37, 37);
  padding: 8px;
  margin: 0px;
  text-align:center;
  vertical-align: middle;
  padding-top: 5px;
  left:75px;
  top:10px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
}

/* --------------------------------------------------- */
/* ---------Text-content och annat krimskrams -------- */
/* --------------------------------------------------- */

h1 {
  font-size: 25px;
  color: rgb(42, 42, 42);
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: rgb(255, 255, 255);
  padding: 0px;
  margin: 0px;
  text-align:center;
  padding-top: 5px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}
h3 {
  font-size: 18px;
  display: inline-block;
  padding: 3px 8px 3px 8px;
  width: auto;
  color: rgb(96, 96, 96);
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Yantramanav', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

p {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

hr {
  width: 300px;
}

#mailadress {
  font-family: 'Yantramanav', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 21px;
  text-align: center;
  margin: 6px;
  margin: 10px;
  text-align: center;
}

.alt {
  margin: 0px;
  margin-bottom: 10px;
  background-color: rgb(106, 160, 185);
  color: rgb(255, 255, 255);
}
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

#container {  
  /* Grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header"
    "Interactive";
}
/* --------------------------------------------------- */
#Interactive { 
  /* Grid */
  grid-area: Interactive; 
    
  /* Style */
  position:fixed;
  padding:0px;
  padding-left:25%;
  margin:0px;

  top: 6em;
  left: 0px;

  width: 100%;
  height: 100%;
}
/* --------------------------------------------------- */
#About { 
  /* Grid */
  grid-area: About; 

  /* Style */

}
/* --------------------------------------------------- */    
  #Header {  
    /* Grid */
    
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "icon-img home-button portfolio-button contact-button";
    grid-area: Header;

    /* Style */
    user-select: none;
    animation: gradient 2s ease infinite;
    z-index: 3;
    background-color: rgb(41, 41, 41);
    box-shadow: rgb(11, 11, 11) 3px 3px 3px;
	  background-size: 3000px 3000px;
}
/* --------------------------------------------------- */  

#home-button, #portfolio-button, #contact-button { 
  /* Grid */
  grid-area: home-button;

  /* Style */
  z-index: 2;
  height: 2em;
  line-height: 1.5em;
  width: 10em;
  vertical-align: middle;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  margin: 15px;
  margin-top: 20px;
  
}

.checked {
  border-color: rgba(255, 255, 255, 0);
}

.not-checked {
  border-color: rgb(255, 255, 255);
}



/* HOVER */
#home-button:hover h2{
  user-select: none;
  cursor: pointer;
}
/* --------------------------------------------------- */  

  #portfolio-button { 
    /* Grid */
    grid-area: portfolio-button;
  }
  /* HOVER */
  #portfolio-button:hover h2{
    user-select: none;
    cursor: pointer;
  }
/* --------------------------------------------------- */  
  #contact-button { 
    /* Grid */
    grid-area: contact-button; 
  }
  /* HOVER */
  #contact-button:hover h2{
    user-select: none;
    cursor: pointer;
  }
/* --------------------------------------------------- */  
  #icon { 
    /* Grid */
    grid-area: icon-img; 
    width: 300px;
    /* Style */
    filter: drop-shadow(2px 2px 2px rgb(24, 24, 24));
    user-select: none;
  }
/* --------------------------------------------------- */
                      #icon img {
                        animation: none;
                        z-index: 1000;
                        padding: 10px;
                        border-width: 0px;
                        position: absolute;
                        transition: 0.8s;
                        width: 3em;
                        height: 3em;
                        -webkit-user-drag: none;
                        
                      }  

                      @keyframes Knockout {
                        0% {
                          transform: rotate(0);
                          opacity: 1;
                        }
                        100% {
                          transform: rotate(360deg);
                          opacity: 0;
                        }
                      }
                      

                      #icon img:hover {
                        transition: 0.1s;
                        transform: scale(1.3);
                        cursor: pointer;
                      }
/* --------------------------------------------------- */







/* --------------------------------------------------- */
/* --------------------------------------------------- */
/*                      MISC                           */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

#wever-container {
  display: grid; 
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto;
  gap: 0px 0px; 
  grid-template-areas: 
    "wever-img0 wever-vid wever-img1";
}
.wever-img0 {
  grid-area: wever-img0;
  margin: auto;
  width: 220px;
  height: 300px;
}

.wever-img0:hover {
  transform: scale(1.5);
}

.wever-img1 {
  grid-area: wever-img1;
  margin: auto;
  width: 220px;
  height: 300px;
}

.wever-img1:hover {
  transform: scale(1.5);
}

.wever-vid {
  grid-area: wever-vid;
  margin: auto;
  width: 700px;
  height: 700px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.theta-img {
  padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
}

#inte-klar {
  position:absolute;
  background-color: rgb(219, 78, 78);
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 25px;
  text-align: center;
  border-bottom-right-radius: 15px;
  
  font-family: 'Montserrat', sans-serif;
}

#playbutton {
  position: relative;
  text-align: center;
  margin: auto;
  top: 80px;
  background-color: white;
  color: black;
  width: fit-content;
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  transition: 0.3s;
}

#playbutton:hover {
  transform: scale(1.2);
  background-color:rgb(160, 58, 58);
  color: white;
  transition: 0.3s;
  cursor:pointer;
}

#instructions {
  position: relative;
  text-align: center;
  margin: auto;
  width: fit-content;
  top: 100px;
  padding: 15px;
  border-radius: 25px;
  background-color: rgb(22, 22, 22)
}

#instructions img {
  filter: drop-shadow(5px 5px 4px rgb(4, 4, 4));
}

#instructions h1 {
  font-family: 'Yantramanav', sans-serif;
  color: rgb(216, 216, 216);
  font-size: 30px;
}

#instructions h2 {
  font-family: 'Yantramanav', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 23px;
}

#instructions h3 {
  font-family: 'Yantramanav', sans-serif;
  color: rgb(214, 68, 68);
  font-size: 25px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(22, 22, 22);
  box-shadow: inset 0 0 5px rgb(13, 13, 13); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f3f3f; 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #595959; 
}



